<div class="w-full flex justify-center items-center">
  <div class="w-[40%] text-center">
    <h2 class="py-6 font-[500] text-[25px]">Authentication</h2>
    <div class="w-full flex justify-center items-center ">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
