<div class="w-full h-auto">
    <div class="w-[70%] p-4 bg-[#121212] m-auto rounded-lg">
        <h3 class="pb-6 font-[500] text-[25px]">Wellcome to Google Calendar Events</h3>
        <p class="text-gray-400 text-[14px] mb-4">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur quae *
            cupiditate perspiciatis earum? Consequuntur, odio quisquam. Numquam quibusdam quidem impedit, 
            voluptas cupiditate ipsam hic eveniet laborum ut nam autem culpa!
        </p>
        <div class="text-center">
            <p class="text-[16px]">You can create as many as events you want</p>
            <%= link_to "Create your event", new_event_path, 
                class: "rounded-lg m-auto py-[2px] px-[10px] bg-yelow-800 text-white" %>
        </div>
    </div>
</div>